node_modules/
venv/
.DS_Store
.idea/
jmeter.log
report/result/
report/report/
report/newman/
report/jenkins/
report/allure-results/
report/allure-report/
report/*.jtl
report/*.html
npm-debug.log*
.env
